
*.a
*.d
*.o
/Python/build
/Python/dist/LC-Mare-GUI
KICAD/LC_PAMV1/_autosave-LC_PAM.kicad_sch
KICAD/LC_PAMV1/\#auto_saved_files\#
Python/.idea/workspace.xml
Python/.venv
/KICAD/Misc
/Misc
/Python/__pycache__
Documents/.Rhistory
/KICAD/ADC_V2/ADC_V2-backups
/KICAD/LC_PAMV4b/LC_PAMV4b-backups
/KICAD/LC_PAMV4b1/LC_PAMV4b-backups
/KICAD/LC_PAMV4b1/LC_PAMV4b1-backups
/KICAD/PreampV5-mare/PreampV5-mare-backups
Python/Results.npy
/KICAD/DRV5032 Hall Sensor v1/DRV5032 Hall Sensor v1-backups
/KICAD/DRV5032 Hall Sensor v1/ScoutMakes Hall Sensor v1-backups
/KICAD/DRV5032 Hall Sensor v1/.history
/KICAD/RTC-RV3028/RTC-RV3028-backups
KICAD/RTC-RV3028/.history/
/KICAD/LC_PAM4b2b/LC_PAM4b2-backups
/KICAD/LC_PAM4b2b/LC_PAM4b2a-backups
/KICAD/LC_PAM4b2b/LC_PAM4b2b-backups
/KICAD/LC_PAM4b2b/.history
/KICAD/LC_PAM4b2b/microPAM-mare-2024-01-18_134022
/KICAD/LC_PAMV4b1/.history
/KICAD/LC_PAMV4b/.history
/Python/data
/Python/.idea
Python/test_py.ipynb
KICAD/ADC_V2/.history/
/KICAD/PreampV5-mare/.history
/Python/misc
Python/dist/LC_Mare.zip
/Python/dist
/uPAM
/T4_1_psram_test
/test_PSRAM
/test_PSRAM_1
/test_PSRAM_2
/test_PSRAM_3
/uPAM_V0
Python/LC_Mare.spec
/cVAS_V7
